# minimum among three numbers
a, b, c = 16, 5,7

In [ ]:
a, b, c = 16, 5,7
 
if(a < b and a < c): 
 
    print(" ais the minimum") 
 
elif(b < a and b < c): 
 
    print(" b is the minimum") 
 
else: 
 
    print(" c is the minimum")

 b is the minimum

# GCD and LCM of two numbers
def gcd(a,b):

In [ ]:
def gcd(a,b): 
 
    if a == 0: 
 
        return b 
 
    return gcd(b % a, a) 
def lcm(a,b): 
 
    return (a*b) / gcd(a,b) 
a = 25
b = 40
print('LCM of', a, 'and', b, 'is', lcm(a, b))
print('GCD of', a, 'and', b, 'is', gcd(a, b))

LCM of 25 and 40 is 200.0
GCD of 25 and 40 is 5

TWIN PRIMES BELOW

In [ ]:
def is_prime(n):
   for i in range(2, n):
      if n % i == 0:
         return False
   return True

def generate_twins(start, end):
   for i in range(start, end):
      j = i + 2
      if(is_prime(i) and is_prime(j)):
         print("{:d} and {:d}".format(i, j))

generate_twins(2, 100)

3 and 5
5 and 7
11 and 13
17 and 19
29 and 31
41 and 43
59 and 61
71 and 73

#number is perfect

In [ ]:
n = int(input("Enter any number: "))
sum = 0
for i in range(1, n):
    if(n % i == 0):
        sum = sum + i
if (sum == n):
    print("number is a Perfect number")
else:
    print("number is not a Perfect number")

Enter any number: 45
number is not a Perfect number

# swapping of two numbers

In [ ]:
x =23
y =24
temp = x
x = y
y = temp
 
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 24
The value of y after swapping: 23

PRIME NUMBERS BETWEEN LOWER AND UPPER

In [ ]:
lower = 20
upper = 50
 
print("Prime numbers between", lower, "and", upper, "are:")
 
for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 20 and 50 are:
23
29
31
37
41
43
47

#armstrong

In [ ]:
num = int(input("Enter a number: "))  
sum = 0  
temp = num  
  
while temp > 0:  
   digit = temp % 10  
   sum += digit ** 3  
   temp //= 10  
  
if num == sum:  
   print(num,"is an Armstrong number")  
else:  
   print(num,"is not an Armstrong ")

Enter a number: 12
12 is not an Armstrong

# all arithemetic operations

In [ ]:
a = 10
b = 25
print (a+b) #addition
print (a-b) # subtraction
print (a*b) # multiplication
print (a/b) #divison
print (a//b) # floor divison
print (a%b)  # modulo
print (a**b) # exponent

35
-15
250
0.4
0
10
10000000000000000000000000