In [1]:
def sum_list(items):
  sum_numbers = 0
  for x in items:
    sum_numbers +=x
  return sum_numbers
print(sum_list([1,2,-8]))
-5

-5

-5

In [2]:
n = 5
l = [{}for _ in range(n)]
print(l)
[{}, {}, {}, {}, {}]

[{}, {}, {}, {}, {}]

[{}, {}, {}, {}, {}]

In [9]:
my_dict  = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))
293

293

293

In [10]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}