generate first N number of fibonacci numbers.Take N value from user

In [ ]:
def fibonacci(n):
  if n<0:
    print('incorrect input')
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)
print(fibonacci(9))

21

display multiplication table of K.Take K value from user Ex:7

In [ ]:
n=int(input("enter a number to disply its multiplication table"))
for i in range (1,11):
  print(n,'x',i,'=',n*i)

enter a number to disply its multiplication table5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

In [ ]:
def gcd(a,b):
  if (a==0 or b==0):
    false
  if (a==b):
    return a 
  if (a>b):
    return gcd(a-b,b)
  return gcd(a,b-a)
a=10
b=15
if (gcd(a,b)):
  print('GCD of',a,'and',b,'is',gcd(a,b))
else:
  print('not found')

GCD of 10 and 15 is 5

write a python program that accepts a word from the user and reverse it

In [ ]:
def reverse(s): 
  str = "" 
  for i in s: 
    str = i + str
  return str
  
s = "Good boy"
  
print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using loops) is : ",end="") 
print (reverse(s))

The original string  is : Good boy
The reversed string(using loops) is : yob dooG

write a python program to count the number of even and odd numbers from a series of numbers

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10 ] 
  
even_count, odd_count = 0, 0
  
# iterating each number in list 
for num in list1: 
      
    # checking condition 
    if num % 2 == 0: 
        even_count += 1
  
    else: 
        odd_count += 1
          
print("Even numbers in the list: ", even_count) 
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  5
Odd numbers in the list:  5

write a python program that prints all the numbers from 0 to 6 except 3 and 6

In [ ]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')
print("\n")

0 1 2 4 5